body{
  background-color:#fefaf1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(87,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEF40'/%3E%3Cstop offset='1' stop-color='%23DD1DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(115,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFE298'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='21.779999999999998'%3E%3Cpath transform='translate(-199.5 26) rotate(11 1409 581) scale(0.9845000000000002)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='7.26' transform='translate(-187.5 135) rotate(23 800 450) scale(1.0321500000000001)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(65.5 -247.5) rotate(212.5 401 736) scale(1.0321500000000001)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='6.6'%3E%3Cpath transform='translate(810 -19) rotate(4.75 150 345) scale(0.9315)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='14.52' transform='translate(-347.5 -355) rotate(234 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-614 186) rotate(39 1400 132) scale(0.825)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
#header{
  width: 100%;
  height: 100vh ;
  background-image: url(landback.png);
  background-size: cover;
  background-position: center;

}
h1, h2, h3, p, a, input, textarea, button{
  font-family: 'Autour One', cursive;
}
a{
  color: #000;
  font-size: 20px;
}
.container{
  padding: 15px 10%;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.container a{
  font-weight: bold;
  color:#f79691;
  font-size: 19px;
}

nav{
  color: #e68cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.logo7{
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  width: 120px;
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  animation: pulse 3s infinite
  
  
}
nav a{
  display: inline-block;
  list-style-type: none;
  margin: 10px 25px;
  color:#e68cff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  position: inherit;

} 
nav a:hover{
  color: #ffe96a;
  transition: .4s;

} 
nav a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 5%;
  font-size: 28px;
}
.header-text h1{
  font-size: 55px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header-text h1 span{
  color: rgb(241, 234, 136);
  font-weight: bold;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header-text h2{
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header-text h3{
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.miku{
  margin-left: 400px;
  margin-top: -10px;
}
#About{
  width: 100%;
}
.sub-title{
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  width: 100px;
  display: inline-block;
  padding: 10px;
  font-size: 6px;
  animation: pulse 3s infinite
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.About-col-1{
  flex-basis: 35%;
}
.About-col-1 img{
  width: 750%;
  margin-left: -50%;
  margin-top: -350%;
  border-radius: 10px;
}
.Ads{
  width: 350px;
  height: 320px;
  margin-top: -60%;
  margin-left: -80%;
}
.About-col-2{
  flex-basis: 60%;
}
.lolinichan{
  background-image: url(Kawaii\ Dancing\ Sticker\ -\ Kawaii\ Dancing\ Swaying\ -\ Discover\ &\ Share\ GIFs.gif);
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fef088;
}
.porti{
  margin-top: 30px;
}
.sub-title p{
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  justify-content:center;
}
.Abt-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin-top: 50px;
}
.Abt-list h2{
  font-size: 23px;
}
.Abt-list div{
  background: #9dd3c9bb;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 1s, transform 1s;
  background-image: url(Miku\ _\).gif);
}
.Abt-list div i{
  font-size: 30px;
  margin-bottom: 15px;
}
.Abt-list div p{
  font-size: 10px;
}
.Learns{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.Abt-list div:hover{
  background: rgba(229, 160, 160, 0.783);
  transform: translateY(-10px);
  background-image: url(Vocaloids\ Images\ _\ Icons\,\ Wallpapers\ and\ Photos\ on\ Fanpop.gif);
}

#Projects{
  width: 100%;
  padding: 10px 0px;
  margin-top: -30%;
}
#cardGrid{
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
  grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between cards */
  padding: 20px;
}
.title h1.sub-title{
  color: #fef088;
  font-size: 60px;
  font-weight: 600;
  width: 950px;
  margin: 20px 20px;
  text-align: center;
  margin-left: 15%;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.another{
  width: 100px;
  margin-left: 350px;
  margin-top: -130px;
}
.chibi{
  width: 100px;
  margin-left: 440px;
  margin-top: -140px;
}
.pro-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
}
.pro{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.pro img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(#fadede91, #ee4382a5);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  font-size: 14px;
  transition: height 1s;
  
}
.layer h3{
  font-weight: 300px;
  margin-bottom: 20px;
  
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.Marin{
  width: 400px;
  height: 200px;
  margin: auto;
}
.layer h1 a{
  text-shadow: white;
}
.pro:hover img{
  transform: scale(1.1);
  opacity: 80%;
}
.pro:hover .layer{
  height: 100%;
}
.vacs{
  width: 200px;
}
.marlon{
  width: 200px;
}
.tv{
  width: 200px;
}
#contact{
  margin-top: 10%;
  width: 100%;
}
.contact-left{
  background-image: url(Miku\ Anime\ GIF\ -\ Miku\ Anime\ Charging\ -\ Discover\ &\ Share\ GIFs.gif);
  background-size: cover;
  padding: 80px;
}
.contact-left{  
  flex-basis: 35%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: rgb(243, 89, 61);
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
  outline: #e4f582;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: red;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: rgba(240, 207, 183, 0.991);
  transform: translateY(-5px);
}
